<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE generatorConfiguration
        PUBLIC "-//mybatis.org//DTD MyBatis Generator Configuration 1.0//EN"
        "http://mybatis.org/dtd/mybatis-generator-config_1_0.dtd">

<generatorConfiguration>
    <classPathEntry location="mysql.jar"/>
    <context id="MySQLTables" targetRuntime="MyBatis3" defaultModelType="flat">
        <property name="autoDelimitKeywords" value="true"/>
        <property name="beginningDelimiter" value="`"/>
        <property name="endingDelimiter" value="`"/>

        <commentGenerator>
            <property name="suppressDate" value="true"/>
            <property name="suppressAllComments" value="true"/>
            <property name="autoDelimitKeywords" value="true"/>
        </commentGenerator>

        <jdbcConnection driverClass="com.mysql.jdbc.Driver"
                        connectionURL="jdbc:mysql://127.0.0.1:3306/yuna?characterEncoding=UTF-8"
                        userId="root" password="root">
        </jdbcConnection>

        <javaTypeResolver>
            <property name="forceBigDecimals" value="true"/>
        </javaTypeResolver>

        <!-- entity实体类 targetPackage:包名,targetProject:生成到对应的项目路径-->
        <javaModelGenerator targetPackage="net.myscloud.open.yuna.model" targetProject="src/main/java">
            <property name="enableSubPackages" value="true"/>
            <property name="trimStrings" value="true"/>
            <property name="enableComments" value="true"/>
            <property name="ignoreSetterAndGetter" value="true"/>
        </javaModelGenerator>

        <!-- mapperxml文件 -->
        <sqlMapGenerator targetPackage="mappers" targetProject="src/main/resources/mybatis">
            <property name="enableSubPackages" value="true"/>
        </sqlMapGenerator>

        <!-- mapper实体类 -->
        <javaClientGenerator type="XMLMAPPER" targetPackage="net.myscloud.open.yuna.mapper"
                             targetFilename="RoleMapper" targetProject="src/main/java">
            <property name="enableSubPackages" value="true"/>
        </javaClientGenerator>

        <table tableName="tb_role" domainObjectName="Role" enableCountByExample="false"
               enableUpdateByExample="false" enableDeleteByExample="false" enableSelectByExample="false"/>
    </context>
</generatorConfiguration>
